<header class="site-banner">
  <div class="row">
    <div class="span12">
      <img style="border-radius: 6px;" src="<%= @theme.path %>/img/title.png"/>
    </div>
  </div>
</header>

<%= partial 'entries' %>
